@import url('https//fonts.googleapis.com/css?family=poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif;
}
body{
  background: #050e2d;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1b2141;
  transition: 0.5s;
  z-index: 1000;
}
header .logo{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 2cm;
  font-weight: 700;
}
header .nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  list-style: none;
  margin: 10px;
} 
header ul li a{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
header ul li a:hover{
  background: #1aeeef;
  color: #050e2d;
  box-shadow: 0 0 10px #1aeeef;
} 
header .action .searchBx{
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px;  
}
header .action .searchBx i{
  font-size: 1.4em;
  margin: 5px;
  color: #222;
}
header .action .searchBx input{
  outline: none;
  border: none;
  font-size: 1em;
  color: #222;
} 
/* Home Banner */

.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .banner p{
  color: #fff;
}
.banner h2{
  color: #94a9f7;
}
body{
  font-family: 'Poopins', sans-serif;
  height: 100;
}
.banner .bg .content a{
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid #1aeeef;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}
.banner .bg .content a:hover{
  background: #1aeeef;
  color: #050e2d;
  box-shadow: 0 0 10px #1aeeef;
}